<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    th:replace="base::layout(~{::section})">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sale Detail</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<section>
    <audio id="errorSound" th:src="@{/mp3/Pricebook_not_found.mp3}" preload="auto"></audio>
    <div th:replace="/utill/MessageShow.html :: toast"></div>
    <button style="visibility: hidden;" type="button" id="openBarcodeScannerModal" class="btn btn-primary rounded-lg"
        data-bs-toggle="modal" data-bs-target="#barcodeScannerModal">

    </button>


    <div class="container-fluid mt-5">

        <p id="resultMessage" class="mt-4 font-medium text-center"></p>
        <div class="card shadow rounded-lg w-100 mx-auto">
            <div class="row mb-4">
                <div class="col-12">
                    <label for="barcodeSearchInput" class="form-label"><strong>Scan Barcode for Sale.</strong></label>
                    <input type="text" id="barcodeSearchInput" name="barcodeSearchInput"
                        placeholder="Scan barcode for Sale Item." class="form-control" autofocus>
                </div>
            </div>
            <div class="card-header">
                <h3 class="mb-0">Sales Detail</h3>
            </div>
            <div class="card-body">
                <p class="text-muted">View sales data filtered by month or date.</p>

                <!-- Filter Section -->
                <div class="row my-4">
                    <!-- <div class="col-md-6 mb-3">
                            <label for="monthFilter" class="form-label font-weight-bold">Filter by Month</label>
                            <input type="month" class="form-control" id="monthFilter">
                        </div> -->
                    <div class="col-md-2 mb-3">
                        <label for="dateFilter" class="form-label font-weight-bold">Start Date</label>
                        <input type="date" class="form-control" id="dateFilter">
                    </div>

                    <div class="col-md-2 mb-3">
                        <label for="dateFilter" class="form-label font-weight-bold">End Date</label>
                        <input type="date" class="form-control" id="endDateFilter">
                    </div>
                    <div style="padding-top: 31px;" class="col-md-2 mb-3">
                        <label for="dateFilter" class="form-label font-weight-bold"></label>
                        <button   class="btn btn-primary" id="getSaleDetail">Get Details</button>
                        
                    </div>
                </div>
                 <span class="badge badge-primary" style="font-size: 1rem;" id="totalSaleAmmunt"></span>
                    <span class="badge badge-success" style="font-size: 1rem;" id="totalRecordCount"></span>
                <!-- Sales Table -->
                <div class="table-responsive rounded-lg shadow-sm border">                   
                    <table class="table table-striped table-hover mb-0" id="salesTable">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price/Unit</th>
                                <th scope="col">Total Unit Price</th>
                                <!-- Add the "Action" column only if the user has the 'ADMIN' role -->
                                <th th:if="${session.sessionObj.role == 'ADMIN'}" scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="salesTableBody">
                            <!-- Data will be populated here by JavaScript -->
                        </tbody>
                    </table>
                </div>

                <!-- Confirmation Modal -->
                <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-bold" id="confirmModalLabel">Confirmation Required</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p id="confirmMessage">Are you sure you want to perform this action?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary rounded-lg"
                                    data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger rounded-lg"
                                    id="confirmActionBtn">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="visibility: hidden;">

                    <input type="date" id="currentSaleDate" name="currentSaleDate" class="form-control" required>
                </div>

                <!-- Loading Indicator -->
                <div id="loadingIndicator" class="text-center py-5 text-muted d-none">
                    <p>Loading sales data...</p>
                </div>
            </div>
        </div>
    </div>
    <script>


        document.addEventListener('DOMContentLoaded', () => {
            //const monthFilter = document.getElementById('monthFilter');

            const dateFilter = document.getElementById('dateFilter');
            const salesTableBody = document.getElementById('salesTableBody');
            const loadingIndicator = document.getElementById('loadingIndicator');
            let totalSaleAmount = document.getElementById('totalSaleAmmunt');
            const confirmModal = new bootstrap.Modal(document.getElementById('confirmModal'));
            const confirmMessageEl = document.getElementById('confirmMessage');
            const confirmActionBtn = document.getElementById('confirmActionBtn');
            const showModalBtn = document.getElementById('showModalBtn');
            const resultMessageEl = document.getElementById('resultMessage');
            const barcodeSearchInput = document.getElementById('barcodeSearchInput');
            const endDateInput = document.getElementById('endDateFilter');
            // New modal and input elements for the barcode scanner
            document.addEventListener("click", () => {
                barcodeSearchInput.focus()
            });


            dateFilter.value = new Date();
            let saleId;
            let saleItemId;

            const hasActionColumn = document.querySelector('th[scope="col"]:last-child') &&
                document.querySelector('th[scope="col"]:last-child').textContent.trim() === 'Action';

            // --- DEBOUNCE FUNCTION ---
            function debounce(func, delay) {
                let timeout;
                return function (...args) {
                    const context = this;
                    clearTimeout(timeout);
                    timeout = setTimeout(() => func.apply(context, args), delay);
                };
            }
            // This function simulates fetching data from a backend API
            async function fetchSalesData(month, date) {
                // In a real application, you would make a fetch call here:
                // const response = await fetch(`/api/sales?month=${month}&date=${date}`);
                // const data = await response.json();
                if (date) {
                    let dateParts = date.split('-');
                    let monthNumber = parseInt(dateParts[1]); // 8
                    let dayNumber = parseInt(dateParts[2]);
                    const filterDate = dateParts[0] + "-" + monthNumber + "-" + dayNumber;

                    const response = await fetch(`/sale/details/date?date=${date}&endDate=${endDateInput.value||''}`)
                    const data_x = await response.json();
                    renderSalesData(data_x);
                    //console.log('data_xdata_xdata_x'+ JSON.stringify(data_x))
                }

            }

            function renderSalesData(data) {
                salesTableBody.innerHTML = '';
                if (data.length === 0) {
                    const noDataRow = document.createElement('tr');
                    noDataRow.innerHTML = `<td colspan="4" class="text-center text-muted">No sales data available.</td>`;
                    salesTableBody.appendChild(noDataRow);
                    return;
                }
                document.getElementById('totalRecordCount').textContent= `Total Sale count ${data.length}`
                let totalSale = 0;
                data.forEach(sale => {
                    const formattedDate = new Date(sale.saleDate).toLocaleDateString();
                    sale.items.forEach(item => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${formattedDate}</td>
                            <td>${item.productInfo}</td>
                            <td>${item.quantitySold}</td>
                            <td>${item.unitPriceAtSale}</td>
                             <td>${item.unitPriceAtSale * item.quantitySold}</td>                           
                        `;
                        if (hasActionColumn) {
                            row.innerHTML += `<td>
                                <!-- The delete button will be populated if the user has 'ROLE_ADMIN' -->
                                <button class="btn btn-danger btn-sm delete-btn" onclick="deleteSaleItem('${sale.saleId}', '${item.saleItemId}')"> Delete</button>
                            </td>`
                        }

                        totalSale += item.unitPriceAtSale * item.quantitySold;

                        salesTableBody.appendChild(row);
                    });
                });
                totalSaleAmount.textContent = `Total Sale Amount :${totalSale}`;
            }

            async function filterSalesData() {
                loadingIndicator.classList.remove('d-none');

                //const monthValue = monthFilter.value;
                const dateValue = dateFilter.value;
                console.log('dateValue value is  ' + dateValue)
                try {
                    fetchSalesData(null, dateValue);
                    //renderSalesData(filteredSales);
                } catch (error) {
                    console.error("Error fetching sales data:", error);
                    salesTableBody.innerHTML = '<tr><td colspan="4" class="text-center text-danger">Failed to load sales data.</td></tr>';
                } finally {
                    loadingIndicator.classList.add('d-none');
                }
            }

            document.getElementById("getSaleDetail").addEventListener('click', async ()=>{
                console.log('endDateInput '+ endDateInput.value)
                if(dateFilter.value && endDateInput.value){
                    const response = await fetch(`/sale/details/date?date=${dateFilter.value}&endDate=${endDateInput.value}`)
                    const data_x = await response.json();
                    renderSalesData(data_x);
                }else{
                    showToast("Start/End Date missing..","Please select start date and End date for search.","warning")
                }
            })

            window.deleteSaleItem = function (id, itemId) {
                saleId = id;
                saleItemId = itemId;
                console.log('deleteSaleItem  ' + id + " itemId " + itemId)
                showDeleteModal(id, itemId)
            }

            // Show and handle the custom confirmation modal
            function showDeleteModal(saleId, saleItemId) {
                showConfirmModal(
                    "Are you sure you want to delete this Sale-Item? This action cannot be undone.",
                    () => {
                        // This is the function that runs on confirmation.
                        console.log("User deletion confirmed!");
                    }
                );
            }

            function showConfirmModal(message, callback) {
                confirmMessageEl.textContent = message;
                confirmationCallback = callback;
                confirmModal.show();
            }

            // Event listener for the "Confirm" button inside the modal
            confirmActionBtn.addEventListener('click', () => {
                if (confirmationCallback) {
                    handleDeleteSale();
                }
                confirmModal.hide();
            });



            async function handleDeleteSale() {
                console.log('---SaleId--> ' + saleId + ' ----itemId ' + saleItemId);
                if (saleId == null || saleItemId == null) return;

                try {
                    const response = await fetch(`/sale/delete/${parseInt(saleId)}/items/${parseInt(saleItemId)}`, {
                        method: 'DELETE',
                    });

                    if (response.ok) {
                        resultMessageEl.textContent = "Action Confirmed: Sale-Item has been deleted.";
                        resultMessageEl.className = "mt-4 font-semibold text-green-600";
                        const dateFilter = document.getElementById('dateFilter');
                        fetchSalesData(null, dateFilter.value);
                    } else {
                        // alert("Failed to delete the sale. You may not have the necessary permissions.");
                        console.error("Delete failed with status:", response.status);
                    }
                } catch (error) {
                    console.error("Error during delete operation:", error);
                    // alert("An error occurred. Please try again.");
                }

            }

            dateFilter.addEventListener('change', () => {
                console.log("---------------------------------")
                // monthFilter.value = ''; // Clear month filter when date changes
                filterSalesData();
            });


            // --- New Logic: Search by Price Book Barcode ---
            const handleBarcodeSearch = async () => {
                const barcode = barcodeSearchInput.value.trim();
                const currentDate = document.getElementById('currentSaleDate').value;
                if (barcode.length >= 4) {
                    console.log('barcode ---> ' + barcode + ' currentDate ' + currentDate)
                    try {
                        const response = await fetch(`/sale/api/save/barcode/${barcode}/saledate/${currentDate}`, { method: 'POST' });
                        if (response.ok) {
                            const responseJSON = await response.json();
                            if (responseJSON != null && responseJSON.message == 'success') {
                                showToast('Success', 'Sale successfully save.', 'success')
                                filterSalesData();
                                barcodeSearchInput.value = ''; // Clear the barcode input
                                barcodeSearchInput.focus(); // Keep focus on the barcode input for the next item
                            } else {
                                document.getElementById("errorSound").play();
                                showToast('Pricebook not found', responseJSON.message, 'warning');
                                barcodeSearchInput.value = ''; // Clear the barcode input
                                barcodeSearchInput.focus();
                            }
                        }
                    } catch (error) {
                        console.error('Network error:', error);
                    }
                }
            };

            // Use the debounced function for the 'input' event (typing)
            const debouncedBarcodeSearch = debounce(handleBarcodeSearch, 500);

            barcodeSearchInput.addEventListener('input', debouncedBarcodeSearch);
            // ------------------------------------------------------------------
            // New Logic: Set the date filter to today's date and load data on page load
            // ------------------------------------------------------------------
            const today = new Date();
            const year = today.getFullYear();
            const month = String(today.getMonth() + 1).padStart(2, '0');
            const day = String(today.getDate()).padStart(2, '0');
            const formattedDate = `${year}-${month}-${day}`;

            // Set the date input value to today's date
            dateFilter.value = formattedDate;
            endDateInput.value = formattedDate;
            document.getElementById('currentSaleDate').value = formattedDate;
            filterSalesData();
        });


        function showToast(title, message, type = "primary") {
            // Get toast elements
            const toastEl = document.getElementById("basicToast");
            const toastTitle = document.getElementById("myToastTitle");
            const toastMessage = document.getElementById("myToastMessage");
            const header = toastEl.querySelector(".toast-header");

            // Set values
            toastTitle.textContent = title;
            toastMessage.textContent = message;

            // Update color (Bootstrap contextual classes)
            header.className = `toast-header bg-${type} text-light`;

            // Show toast
            const toast = new bootstrap.Toast(toastEl);
            toast.show();
        }
    </script>
</section>