<div class="toast-container position-fixed top-0 end-0 p-3" th:fragment="toast">
    <div id="basicToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-primary text-light">
            <strong class="me-auto" id="myToastTitle">Message</strong>
            <button type="button" class="btn-close btn-close-white ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="myToastMessage">
            <!-- message will be set dynamically -->
        </div>
    </div>
</div>